.diagnosis-content {
  .diagnosis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .diagnosis-card {
      margin-left: 2em;
      margin-right: 2em;
      border-radius: 10px;

      .card-icon {
        width: 10em;
        height: auto;
        margin: auto;
      }
      .ios.card-icon {
        margin-top: 1.35em;
      }

      .card-line {
        flex-grow: 1;
        margin-top: 1.5em;
        border-bottom: 1px solid #ccc;
      }

      .card-title {
        margin-top: 0.75em;
        color: #000;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }
}
