<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Modifica dettagli</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <ion-img class="profile-avatar"
                  src="../../../../../../../assets/icon/home/avatar/av-doctor-male.png"
                  alt="Foto profilo paziente">
    </ion-img>
    <div class="profile-info">
      <h2 class="profile-username">{{medic.nome}} {{medic.cognome}}</h2>
      <p class="profile-email">{{medic.CF}}</p>
    </div>
  </div>
  <ion-item>
    <ion-label><b>Nome:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input value="{{medic.nome}}" [(ngModel)]="this.nameToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Cognome:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{medic.cognome}}" [(ngModel)]="this.surnameToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Sesso:</b></ion-label>
    <ion-select class="left-aligned-select" value="{{medic.sesso}}" placeholder="{{medic.sesso}}"
                [(ngModel)]="this.genderToUpdate">
      <ion-select-option>Maschio</ion-select-option>
      <ion-select-option>Femmina</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label><b>Codice fiscale:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{medic.CF}}" [(ngModel)]="this.CFtoUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Email:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{medic.email}}" [(ngModel)]="this.emailToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Password:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input [type]="isPasswordVisible ? 'text' : 'password'"
               value="{{medic.password}}" [(ngModel)]="this.passwordToUpdate"></ion-input>
    <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
      <ion-img id="eye-icon" src="../../assets/icon/eye.png"></ion-img>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label><b>Ospedale:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{medic.ospedale}}" [(ngModel)]="this.hospitalToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Reparto:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{medic.reparto}}" [(ngModel)]="this.wardToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Ruolo:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{medic.ruolo}}" [(ngModel)]="this.roleToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Tipologia:</b></ion-label>
    <ion-select class="left-aligned-select" value="{{medic.tipologiaMedico}}"
                placeholder="{{medic.tipologiaMedico ? 'DI BASE' : 'OSPEDALIERO'}}"
                [(ngModel)]="this.typologyToUpdate">
      <ion-select-option>DI BASE</ion-select-option>
      <ion-select-option>OSPEDALIERO</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button class="confirm-button" (click)="this.presentAlert()" shape="round">Conferma modifiche</ion-button>
  <ion-button id="delete" class="delete-button" shape="round">Elimina medico</ion-button>


  <ion-alert
    trigger="delete"
    header="Conferma cancellazione"
    message="Sei sicuro di voler procedere? Questa azione è irreversibile."
    [buttons]="deleteButtons"
  ></ion-alert>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToRequests()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/requests.png"></ion-img>
          Richieste
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToFunctions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/functions.png"></ion-img>
          Funzioni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToReports()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/bug-report.png"></ion-img>
          Segnalazioni
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
