<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="top-toolbar">
    <ion-icon id="settings-icon"
              src="../../assets/icon/settings/settings.svg"
              slot="end"
              (click)="routeToSettings()">
    </ion-icon>
    <div class="profile-container">
      <div class="images-container">
        <ion-img *ngIf="paziente.sesso === Sesso.MASCHIO"
                 class="profile-image"
                 src="../../assets/icon/home/avatar/av-patient-male.png"></ion-img>
        <ion-img *ngIf="paziente.sesso === Sesso.FEMMINA"
                 class="profile-image"
                 src="../../assets/icon/home/avatar/av-patient-female.png"></ion-img>
      </div>
      <div class="text-container">
        <ion-text class="profile-name" slot="end">
          <h3>Ciao {{this.paziente.nome}}</h3>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="reservation-content" [fullscreen]="true">
  <ion-row style="height: 20%"></ion-row> <!-- spazio vuoto-->
  <ion-item class="item-title">
    <ion-img class="item-title-icon" src="../../assets/icon/patient/reservation/doctor-consultation.png"></ion-img>
    TIPO DI VISITA
  </ion-item>
  <div class="card-container">
    <ion-card class="select-card" (click)="routeToReservationDate('GENERALE')">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/patient/reservation/check-up.png"></ion-img>
        <ion-row class="card-line"></ion-row>
        <ion-card-title class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Generale&nbsp;&nbsp;&nbsp;&nbsp;</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="select-card" (click)="routeToReservationDate('SPECIALISTICA')">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/patient/reservation/special-test.png"></ion-img>
        <ion-row class="card-line"></ion-row>
        <ion-card-title class="card-title">Specialistica</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToLogbook()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/logbook.png"></ion-img>
          Registro
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToReservation()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/calendar.png"></ion-img>
          Prenota
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
