.reservation-content {
  .item-title {
    margin-left: 0.5em;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;

    .item-title-icon {
      width: 1.55em;
      height: auto;
      margin-right: 0.5em;
    }
  }

  .card-container {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;

    .select-card {
      margin-top: 1em;
      width: 10em;
      height: 10em;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      .card-icon {
        width: 3.5em;
        height: auto;
        margin: auto;
      }
      .ios.card-icon {
        margin-top: 1em;
      }

      .card-line {
        flex-grow: 1;
        margin-top: 0.5em;
        border-bottom: 1px solid #ccc;
      }

      .card-title {
        color: #000;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      .ios.card-title {
        font-size: 20px;
      }
    }
  }
}
