<ion-header class="ion-no-border" [translucent]="false">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Prenotazione</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" scrollY="false">
  <ion-item button id="specialista-modal" class="item-specialista no-ripple" *ngIf="type === 'SPECIALISTICA'" (click)="onModalOpen()">
    <ion-label>Specialista</ion-label>
    <ion-icon class="icon fa-solid fa-arrow-right"></ion-icon>
  </ion-item>

  <ion-select label="Reparto" class="reparto-generale" placeholder="Seleziona reparto" *ngIf="type === 'GENERALE'" (ionChange)="storeHospitalWard($event)">
    <ion-select-option value="Cardiologia">Cardiologia</ion-select-option>
    <ion-select-option value="Ortopedia">Ortopedia</ion-select-option>
    <ion-select-option value="Pediatria">Pediatria</ion-select-option>
    <ion-select-option value="Nefrologia">Nefrologia</ion-select-option>
  </ion-select>

  <h6>Data dell'appuntamento</h6>

  <ion-datetime presentation="date" class="datetime reservation-datetime" [min]="currentDateTime" (ionChange)="storeDate($event)"></ion-datetime>

  <ion-modal #modal trigger="specialista-modal">
    <ng-template>
      <ion-toolbar>
        <ion-title style="color: black;">Seleziona specialista</ion-title>
      </ion-toolbar>

      <ion-item-divider>
        <ion-select style="color: black; margin-bottom: 0.4em; margin-top: 0.4em;" label="Reparto" [placeholder]="this.hospitalWard" (ionChange)="storeHospitalWard($event); updateList();">
          <ion-select-option value="Cardiologia">Cardiologia</ion-select-option>
          <ion-select-option value="Ortopedia">Ortopedia</ion-select-option>
          <ion-select-option value="Pediatria">Pediatria</ion-select-option>
          <ion-select-option value="Nefrologia">Nefrologia</ion-select-option>
        </ion-select>
      </ion-item-divider>
      <ion-progress-bar [ngClass]="{ 'hidden': !isLoading }" type="indeterminate"></ion-progress-bar>

      <ion-content>
        <ion-list>
          <div *ngIf="filteredMedics.length <= 0" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
            <ion-img style="margin-top: 4.5em; width: 30%;" src="../../../../../assets/icon/user-not-found.png" alt="nessun medico disponibile"></ion-img>
            <ion-text style="margin: 1em 4em 0 4em; width: 85%; color: gray;">Nessun medico disponibile</ion-text>
          </div>

          <!-- Nella view iniziale dei medici, se l'utente clicca su uno di questi il campo reparto sarà sostituito con quello del medico selezionato -->
          <ion-item button *ngFor="let medic of filteredMedics" (click)="storeMedic(medic); ">
            <ion-avatar slot="start">
              <ion-img *ngIf="medic.sesso === Sesso.MASCHIO"
                src="../../assets/icon/home/avatar/av-nurse-male.png"
                alt="Foto profilo medico">
              </ion-img>
              <ion-img *ngIf="medic.sesso === Sesso.FEMMINA"
                src="../../assets/icon/home/avatar/av-nurse-female.png"
                alt="Foto profilo medico">
              </ion-img>
            </ion-avatar>

            <ion-card-title>{{medic.nome}} {{medic.cognome}}</ion-card-title>

            <ion-card-subtitle slot="end">{{medic.ospedale}}</ion-card-subtitle>
          </ion-item>

        </ion-list>
      </ion-content>

    </ng-template>
  </ion-modal>
</ion-content>

<ion-button class="reservation-button" id="check-fields" shape="round" (click)="submit()">
  <ion-text class="confirm-button-text">VERIFICA DISPONIBILITÀ</ion-text>
</ion-button>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToLogbook()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/logbook.png"></ion-img>
          Registro
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:blue" (click)="goToReservation()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/calendar.png"></ion-img>
          Prenota
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
