<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="top-toolbar">
    <ion-icon id="settings-icon"
              src="../../assets/icon/settings/settings.svg"
              slot="end"
              (click)="routeToSettings()">
    </ion-icon>
    <div class="profile-container">
      <div class="images-container">
        <ion-img *ngIf="infermiere.sesso === Sesso.MASCHIO"
                 class="profile-image"
                 src="../../assets/icon/home/avatar/av-nurse-male.png"></ion-img>
        <ion-img *ngIf="infermiere.sesso === Sesso.FEMMINA"
                 class="profile-image"
                 src="../../assets/icon/home/avatar/av-nurse-female.png"></ion-img>
      </div>
      <div class="text-container">
        <ion-text class="profile-name" slot="end">
          <h3>CIAO {{this.infermiere.nome}}</h3>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content" [fullscreen]="true">
  <ion-row style="height: 1.25em"></ion-row> <!-- spazio vuoto-->
  <ion-item class="item-title">
    <ion-img class="item-title-icon" src="../../assets/icon/home/nurse.png"></ion-img>
    INFERMIERE
  </ion-item>
  <div class="home-container">
    <div class="card-container">
      <ion-card class="home-card">
        <ion-row style="height: 1.5em"></ion-row>
        <ion-label class="list-key">
          Nome:
          <ion-text class="list-value">
            {{this.infermiere.nome}} <br/>
          </ion-text>
        </ion-label>
        <ion-row style="height: 0.5em"></ion-row>
        <ion-label class="list-key">
          Cognome:
          <ion-text class="list-value">
            {{this.infermiere.cognome}} <br/>
          </ion-text>
        </ion-label>
        <ion-row style="height: 0.5em"></ion-row>
        <ion-label class="list-key">
          Sesso:
          <ion-text class="list-value">
            {{this.infermiere.sesso}} <br/>
          </ion-text>
        </ion-label>
        <ion-row style="height: 0.5em"></ion-row>
        <ion-label class="list-key">
          Posto di lavoro:
          <ion-text class="list-value">
            {{this.infermiere.ospedale}} <br/>
          </ion-text>
        </ion-label>
        <ion-row style="height: 0.5em"></ion-row>
        <ion-label class="list-key">
          Reparto:
          <ion-text class="list-value">
            {{this.infermiere.reparto}} <br/>
          </ion-text>
        </ion-label>
        <ion-row style="height: 0.5em"></ion-row>
        <ion-label class="list-key">
          Ruolo:
          <ion-text class="list-value">
            {{this.infermiere.ruolo}} <br/>
          </ion-text>
        </ion-label>
        <ion-row style="height: 0.5em"></ion-row>
        <ion-label class="list-key">
          Codice fiscale:
          <ion-text class="list-value">
            {{this.infermiere.CF}} <br/><br/>
          </ion-text>
        </ion-label>
      </ion-card>
    </div>
  </div>
  <ion-row style="height: 0.5em"></ion-row>
  <ion-item class="item-title">
    <ion-img class="item-title-icon" src="../../assets/icon/home/quick-access.png"></ion-img>
    ACCESSO RAPIDO
  </ion-item>
  <div class="home-container">
    <ion-card class="access-card"
              id="security-card"
              (click)="routeToSecurity()">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/home/lock.png"></ion-img>
        <ion-card-title class="card-title">Sicurezza</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="access-card"
              color="warning"
              (click)="logout()">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/settings/logout.png"></ion-img>
        <ion-card-title class="card-title">Logout</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" style="color:blue" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button hidden class="bottom-bar-buttons" (click)="goToDrugs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/drugs.png"></ion-img>
          Farmaci
        </ion-tab-button>
        <ion-tab-button hidden class="bottom-bar-buttons" (click)="goToShifts()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Turni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
