ion-icon {
    color: black;
}

ion-content, ion-item-divider {
    --background: #f0f5f3;

    h1 {
        font-weight: 40;
        color: #000;
        margin-left: 1em;
    }
}

ion-card {
    border-radius: 1em;
}

ion-fab {
    margin-right: 0.7em;
    margin-bottom: 4em;
}

ion-item-divider {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
    contain: layout;
}

.divider-vertical {
    border-left: 1px solid #ccc;
    height: 100%;
}
  
ion-label {
    h1 {
        font-weight: 80;
        color: #000;
        margin-top: 0.5em;
    }
}

h4 {
    color: #000;
    margin-bottom: 0;
}

.drug {
    margin-left: 1em;
}

.drug-name {
    font-size: 1.1em;
    color: #000;
}