<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Assegna terapia</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-label><h1>Farmaci</h1></ion-label>
  <ion-card>
    <ion-grid class="drug-grid" *ngIf="drugs.length <= 0">
      <ion-col class="drug-details">
        <ion-row>
          <ion-label class="drug-info">Nessun farmaco prescritto</ion-label>
        </ion-row>
      </ion-col>
    </ion-grid>
    <ion-grid class="drug-grid" *ngFor="let drug of drugs; let i = index">
      <ion-col class="drug-details">
        <ion-row>
          <ion-label class="drug drug-name">Aspirina</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="drug drug-info">Quantità: 1</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="drug drug-notes">Da assumere con un bicchiere d'acqua</ion-label>
        </ion-row>
      </ion-col>
      <ion-col class="drug-actions">
        <ion-row>
          <div (click)="goToHome()" style="cursor: pointer;">
            <ion-icon class="fas fa-xmark" style="color:black"></ion-icon>
          </div>
        </ion-row>
      </ion-col>
    </ion-grid>
  </ion-card>

  <ion-item-divider></ion-item-divider>
  
  <ion-label><h1>Esami</h1></ion-label>
  <ion-card>
    <ion-grid class="drug-grid" *ngIf="exams.length <= 0">
      <ion-col class="drug-details">
        <ion-row>
          <ion-label class="drug-info">Nessun esame prescritto</ion-label>
        </ion-row>
      </ion-col>
    </ion-grid>
    <ion-grid class="drug-grid" *ngFor="let exam of exams; let i = index">
      <ion-col class="drug-details">
        <ion-row>
          <ion-label class="drug drug-name">Spirometria</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="drug drug-notes">Dettagli esame</ion-label>
        </ion-row>
      </ion-col>
      <ion-col class="drug-actions">
        <ion-row>
          <div (click)="goToHome()" style="cursor: pointer;">
            <ion-icon class="fas fa-xmark" style="color:black"></ion-icon>
          </div>
        </ion-row>
      </ion-col>
    </ion-grid>
  </ion-card>

  <ion-grid slot="fixed" style="width: 100%; bottom: 0; padding: 1em; display: flex; justify-content: center;">
    <ion-row style="width: 100%; max-width: 1000px;">
      <ion-col class="buttons" size="10" style="padding-left: 0;">
        <ion-button shape="round" style="width: 100%; margin-top: 11px;">Conferma terapia</ion-button>
      </ion-col>
      <ion-col class="buttons" offset="0.3" size="1.5">
        <ion-fab id="open-modal" style="margin-left: auto; margin-right: auto;">
          <ion-fab-button>
            <ion-icon class="fas fa-add" style="color:white"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button data-desc="Aggiungi farmaco" color="primary" (click)="goToAddDrug()">
              <ion-icon class="fas fa-pills" style="color:white"></ion-icon>
            </ion-fab-button>
            <ion-fab-button data-desc="Aggiungi esame" color="primary" (click)="goToAddExam()">
              <ion-icon class="fas fa-notes-medical" style="color:white"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToNotifs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/notifications.png"></ion-img>
          Notifiche
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToPatients()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/patients.png"></ion-img>
          Pazienti
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
