ion-icon {
    color: black;
}

ion-content, ion-item-divider {
    --background: #f0f5f3;

    h1 {
        font-weight: 40;
        color: #000;
        margin-left: 1em;
    }
}

ion-card {
    border-radius: 1em;
}

ion-fab {
    margin-right: 0.2em;
    margin-bottom: 3.7em;
}

ion-item-divider {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.divider-vertical {
    border-left: 1px solid #ccc;
    height: 100%;
}
  
ion-label {
    h1 {
        font-weight: 80;
        color: #000;
        margin-top: 0.5em;
    }
}

h4 {
    color: #000;
    margin-bottom: 0;
}

.drug {
    margin-left: 0.5em;
}

.drug-name {
    font-size: 1.1em;
    color: #000;
}

.drug-grid {
  display: flex;
  align-items: center;

  .drug-details {
    flex-grow: 10;
  }

  .drug-actions {
    flex-grow: 1;
  }
}

.center-items {
    display: flex;
    align-items: center;
}
  

ion-fab-button[data-desc] {
    position: relative;
}

ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 50px;
    bottom: 7px;
    color: var(--ion-color-contrast, #fff);
    background-color: var(--ion-color-base, #fff);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(101, 234, 181);
    --color: white;
  }