.bottom-bar {
  .bottom-bar-buttons {
    font-family: Inter, sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    font-size: 11.2px;
  }

  .bottom-bar-icons {
    width: 1.65em;
    height: auto;
  }
}
