.user-details-title {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;

  .item-title-icon {
    width: 1.5em;
    height: auto;
    margin-right: 0.5em;
  }
}

.list-key {
  font-size: large;
  font-weight: bold;
}

.list-value {
  font-weight: normal;
}

.access-card {
  margin-top: -0.5em;
  width: 10em;
  height: auto;
  display: inline-block;

  .card-icon {
    width: 2em;
    height: auto;
    margin: auto;
    display: block;
  }

  .card-title {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
