<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="top-toolbar">
    <ion-icon id="settings-icon"
              src="../../assets/icon/settings/settings.svg"
              slot="end"
              (click)="routeToSettings()">
    </ion-icon>
    <div class="profile-container">
      <div class="images-container">
        <ion-img class="profile-image"
                 *ngIf="medico.isManager"
                 src="../../assets/icon/home/elmanager.png">
        </ion-img>
        <ion-img class="profile-image"
                 *ngIf="!medico.isManager && medico.sesso === Sesso.MASCHIO"
                 src="../../assets/icon/home/stock-medic-male.png">
        </ion-img>
        <ion-img class="profile-image"
                 *ngIf="!medico.isManager && medico.sesso === Sesso.FEMMINA"
                 src="../../assets/icon/home/stock-medic-female.png">
        </ion-img>
        <ion-img class="change-pic-image" src="../../assets/icon/home/camera.png"></ion-img>
      </div>
      <div class="text-container">
        <ion-text class="profile-name" slot="end">
          <h3>CIAO {{this.medico?.nome}}</h3>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="notifs-content" [fullscreen]="true">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-row style="height: 1.25em"></ion-row> <!-- spazio vuoto-->
  <ion-item lines="none" class="item-title">
    <ion-img class="item-title-icon" src="../../assets/icon/home/notification.png"></ion-img>
    NOTIFICHE
  </ion-item>
  <ion-list>
    <ion-item class="item-title" *ngFor="let prenotazione of prenotazioni  ">
      <div class="item-content">
        <ion-img class="reservation-icon" slot="start" src="../../assets/icon/home/calendar.png"></ion-img>
        <ion-text class="item-title-list">Il paziente {{prenotazione?.paziente?.nome}} {{prenotazione?.paziente?.cognome}}
          ha prenotato una visita per il {{prenotazione?.orario}}</ion-text>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToNotifs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/notifications.png"></ion-img>
          Notifiche
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToPatients()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/patients.png"></ion-img>
          Pazienti
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
