<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="top-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Impostazioni</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-content" [fullscreen]="true">
  <ion-item fill="transparent" (click)="routeToSecurity()">
    <ion-img class="settings-image" src="../../assets/icon/settings/security.png"></ion-img>
    <ion-text class="settings-text">Sicurezza</ion-text>
  </ion-item>
  <ion-item fill="transparent" (click)="routeToBugReport()">
    <ion-img class="settings-image" src="../../assets/icon/settings/bug.png"></ion-img>
    <ion-text class="settings-text">Segnalazione errori</ion-text>
  </ion-item>
  <ion-item fill="transparent" (click)="routeToInfo()">
    <ion-img class="settings-image" src="../../assets/icon/settings/info.png"></ion-img>
    <ion-text class="settings-text">Informazioni</ion-text>
  </ion-item>
  <ion-item fill="transparent" (click)="logout()">
    <ion-img class="settings-image" src="../../assets/icon/settings/logout.png"></ion-img>
    <ion-text class="settings-text">Logout</ion-text>
  </ion-item>

  <ion-tabs class="bottom-bar">
    <ion-tab-bar class="bottom-tab-bar" slot="bottom">
      <ion-tab-button class="bottom-bar-buttons" tab="home">
        <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
        Home
      </ion-tab-button>
      <ion-tab-button class="bottom-bar-buttons" tab="logbook">
        <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/logbook.png"></ion-img>
        Registro
      </ion-tab-button>
      <ion-tab-button class="bottom-bar-buttons" tab="reservations">
        <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/booking.png"></ion-img>
        Prenota
      </ion-tab-button>
      <ion-tab-button class="bottom-bar-buttons" tab="sos">
        <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
        SOS
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
