<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Impostazioni</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-content" [fullscreen]="true">
  <ion-item fill="transparent" (click)="routeToSecurity()">
    <ion-img class="settings-image" src="../../assets/icon/settings/security.png"></ion-img>
    <ion-text class="settings-text">Sicurezza</ion-text>
  </ion-item>
  <ion-item fill="transparent" *ngIf="ruolo !== 'ADMIN'" (click)="routeToBugReport()">
    <ion-img class="settings-image" src="../../assets/icon/settings/bug.png"></ion-img>
    <ion-text class="settings-text">Segnalazione errori</ion-text>
  </ion-item>
  <ion-item fill="transparent" (click)="routeToInfo()">
    <ion-img class="settings-image" src="../../assets/icon/settings/info.png"></ion-img>
    <ion-text class="settings-text">Informazioni</ion-text>
  </ion-item>
  <ion-item fill="transparent" (click)="logout()">
    <ion-img class="settings-image" src="../../assets/icon/settings/logout.png"></ion-img>
    <ion-text class="settings-text">Logout</ion-text>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'PAZIENTE'" (click)="goToLogbook()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/logbook.png"></ion-img>
          Registro
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'PAZIENTE'" (click)="goToReservation()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Prenota
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons"  *ngIf="ruolo === 'PAZIENTE'" (click)="goToPatientSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'INFERMIERE'" (click)="goToDrugs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/drugs.png"></ion-img>
          Farmaci
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'INFERMIERE'" (click)="goToShifts()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Turni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'INFERMIERE'" (click)="goToNurseSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'MEDICO'" (click)="goToNotifs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/notifications.png"></ion-img>
          Notifiche
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'MEDICO'" (click)="goToPrescriptions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/prescriptions.png"></ion-img>
          Prescrizioni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'ADMIN'" (click)="goToRequests()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/requests.png"></ion-img>
          Richieste
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'ADMIN'" (click)="goToFunctions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/functions.png"></ion-img>
          Funzioni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'ADMIN'" (click)="goToReports()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/bug-report.png"></ion-img>
          Segnalazioni
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
