<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-text class="tab-name-bl">Conferma</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <ng-lottie [options]="options" [styles]="styles" (animationCreated)="animationCreated($event)" class="animation"></ng-lottie>
  <h3 class="info-h3">PRENOTAZIONE RIFIUTATA</h3>
  <h6 class="info-h6">Hai rifiutato la prenotazione di {{prenotazione.paziente?.nome}} {{prenotazione.paziente?.cognome}}.</h6>
</ion-content>

<div class="anim-confirm">
  <ion-button class="confirm-button"
              expand="block"
              fill="solid"
              routerLink="/home"
              (click)="goToNotifsAnimated()"
              shape="round">
    <ion-text class="confirm-button-text">
      Torna alle notifiche
    </ion-text>
  </ion-button>
</div>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToNotifs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/notifications.png"></ion-img>
          Notifiche
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToPatients()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/patients.png"></ion-img>
          Pazienti
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
