<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="top-toolbar">
    <ion-icon id="settings-icon"
              src="../../assets/icon/settings/settings.svg"
              slot="end"
              (click)="routeToSettings()">
    </ion-icon>
    <div class="profile-container">
      <div class="images-container">
        <ion-img class="profile-image" src="../../assets/icon/home/new-user.png"></ion-img>
        <ion-img class="change-pic-image" src="../../assets/icon/home/camera.png"></ion-img>
      </div>
      <div class="text-container">
        <ion-text class="profile-name" slot="end">
          <h3>CIAO MARIO</h3>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content" [fullscreen]="true">
  <ion-row style="height: 1.25em"></ion-row> <!-- spazio vuoto-->
  <ion-item class="item-title">
    <ion-img class="item-title-icon" src="../../assets/icon/home/medic.png"></ion-img>
    MEDICO
  </ion-item>
  <div class="home-container">
    <ion-label class="list-key">
      Nome:
      <ion-text class="list-value">
        Mario <br/>
      </ion-text>
    </ion-label>
    <ion-row style="height: 0.5em"></ion-row>
    <ion-label class="list-key">
      Cognome:
      <ion-text class="list-value">
        Giannini <br/>
      </ion-text>
    </ion-label>
    <ion-row style="height: 0.5em"></ion-row>
    <ion-label class="list-key">
      Posto di lavoro:
      <ion-text class="list-value">
        Ospedale Ferdinando Veneziale, Isernia (IS) <br/>
      </ion-text>
    </ion-label>
    <ion-row style="height: 0.5em"></ion-row>
    <ion-label class="list-key">
      Reparto:
      <ion-text class="list-value">
        Cardiologia <br/>
      </ion-text>
    </ion-label>
    <ion-row style="height: 0.5em"></ion-row>
    <ion-label class="list-key">
      Ruolo:
      <ion-text class="list-value">
        Primario <br/>
      </ion-text>
    </ion-label>
    <ion-row style="height: 0.5em"></ion-row>
    <ion-label class="list-key">
      Codice fiscale:
      <ion-text class="list-value">
        GNNMRA02R05E335P <br/><br/>
      </ion-text>
    </ion-label>
  </div>
  <ion-item class="item-title">
    <ion-img class="item-title-icon" src="../../assets/icon/home/quick-access.png"></ion-img>
    ACCESSO RAPIDO
  </ion-item>
  <div class="home-container">
    <ion-card class="access-card"
              id="security-card"
              (click)="routeToSecurity()">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/home/lock.png"></ion-img>
        <ion-card-title class="card-title">Sicurezza</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="access-card"
              color="warning"
              (click)="logout()">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/settings/logout.png"></ion-img>
        <ion-card-title class="card-title">Logout</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToNotifs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/notifications.png"></ion-img>
          Notifiche
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToPrescriptions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/prescriptions.png"></ion-img>
          Prescrizioni
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
