<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Dettagli richiesta</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="triage-request-content" [fullscreen]="true">
  <ion-row style="height: 1.25em"></ion-row> <!-- spazio vuoto-->
  <div class="summary-container">
    <ion-img *ngIf="richiesta.codice === CodiciTriage.BIANCO"
             class="code-icon"
             slot="start" src="../../assets/icon/shared/codes/white-code.png">
    </ion-img>
    <ion-img *ngIf="richiesta.codice === CodiciTriage.VERDE"
             class="code-icon"
             slot="start" src="../../assets/icon/shared/codes/green-code.png">
    </ion-img>
    <ion-img *ngIf="richiesta.codice === CodiciTriage.AZZURRO"
             class="code-icon"
             slot="start" src="../../assets/icon/shared/codes/blue-code.png">
    </ion-img>
    <ion-img *ngIf="richiesta.codice === CodiciTriage.ARANCIONE"
             class="code-icon"
             slot="start" src="../../assets/icon/shared/codes/orange-code.png">
    </ion-img>
    <ion-img *ngIf="richiesta.codice === CodiciTriage.ROSSO"
             class="code-icon"
             slot="start" src="../../assets/icon/shared/codes/red-code.png">
    </ion-img>
    <div class="text-container">
      <ion-text class="item-title-list"><b>Richiesta n. {{richiesta.id}}</b> <br/>
        {{richiesta.paziente.nome}} {{richiesta.paziente.cognome}}
      </ion-text>
    </div>
  </div>
  <ion-row style="height: 1.5em"></ion-row>
  <div class="map-container">
    <iframe id="osm-map" width="300" height="225" style="border: 1px solid black" property="round"></iframe>
    <br />
    <ion-row style="height: 0.5em"></ion-row>
    <small>
      <a id="osm-link" href="#" target="_blank">Espandi Mappa</a>
    </small>
  </div>
  <ion-row style="height: 1.5em"></ion-row>
  <div class="details-container">
    <ion-text class="request-details-text">
      Il paziente <b>{{richiesta.paziente.nome}} {{richiesta.paziente.cognome}}</b>
      ha effettuato una richiesta di triage con <b>codice {{richiesta.codice}}</b> dalle coordinate: <br/>
      <b>LATITUDINE:</b> {{richiesta.latitudine}}, <br/>
      <b>LONGITUDINE:</b> {{richiesta.longitudine}}
    </ion-text>
  </div>
  <ion-row style="height: 1.5em"></ion-row>
  <div class="buttons-container">
    <ion-button class="triage-buttons"
                color="primary"
                shape="round"
                (click)="acceptRequest()">Accetta
    </ion-button>
    <ion-button class="triage-buttons"
                color="danger"
                shape="round"
                (click)="denyRequest()">Rifiuta
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToDrugs()" hidden>
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/drugs.png"></ion-img>
          Farmaci
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToShifts()" hidden>
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Turni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:blue" (click)="goToSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/sos.png"></ion-img>
          SOS
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
