<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Dettagli paziente</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-avatar slot="start">
        <ion-img *ngIf="patient.sesso === Sesso.MASCHIO"
                 src="../../../../../../assets/icon/home/avatar/av-patient-male.png"
                 alt="Foto profilo paziente">
        </ion-img>
        <ion-img *ngIf="patient.sesso === Sesso.FEMMINA"
                 src="../../../../../../assets/icon/home/avatar/av-patient-female.png"
                 alt="Foto profilo paziente">
        </ion-img>
      </ion-avatar>
      <ion-card-title>{{this.patient._nome}} {{this.patient._cognome}}</ion-card-title>
      <ion-card-subtitle>{{this.patient._CF}}</ion-card-subtitle>
      <ion-card-subtitle>{{this.patient._email}}</ion-card-subtitle>
    </ion-card-content>

    <ion-card-content>
    <ion-card-title>Diagnosi</ion-card-title>
    <ion-card-subtitle>Asma eosinofila, rinite allergica</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-button class="confirm-button" expand="block" shape="round" fill="solid" (click)="goToModifyDetails()">Modifica dettagli</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToRequests()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/requests.png"></ion-img>
          Richieste
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToFunctions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/functions.png"></ion-img>
          Funzioni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToReports()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/bug-report.png"></ion-img>
          Segnalazioni
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
