.signup-continue-toolbar {
  margin-top: 1em;

  #signup-continue-title {
    font-family: Inter, sans-serif;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
  }
}

.signup-continue-content {
  #plusone-logo {
    width: 8.5em;
    height: auto;

    // usati entrambi per centrare l'immagine
    margin: auto;
    display: block;
  }

  .signup-continue-labels {
    font-family: Inter, sans-serif;
    letter-spacing: 0;
  }

  #eye-icon {
    width: 2em;
    height: auto;
  }

  #checkbox {
    margin-left: 1.2em;
    margin-top: 1.5em;
    font-size: 15px;
  }

  #confirm-button {
    margin-top: 2.5em;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    letter-spacing: 0;
    font-weight: bold;

    #confirm-button-text {
      text-shadow: #000 0.45px 0.5px;
    }
  }

  .clear-button {
    text-transform: none;
    display: grid;
    justify-content: center;
    font-family: Inter, sans-serif;
    letter-spacing: 0;

    .clear-button-text {
      color: #77b783;
      text-shadow: #000 0.45px 0.5px;
    }
  }

  #login-button {
    margin-top: 2em;
  }
}
