<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="signup-continue-toolbar">
    <ion-title id="signup-continue-title">Registrazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-continue-content" [fullscreen]="true">
  <ion-img id="plusone-logo" src="../../assets/icon/logo-plusone.png"></ion-img>

  <ion-item fill="transparent">
    <ion-input class="signup-continue-labels"
               type="text"
               label="Nome"
               label-placement="floating"
    ></ion-input>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input class="signup-continue-labels"
               type="text"
               label="Cognome"
               label-placement="floating"
    ></ion-input>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input class="signup-continue-labels"
               type="text"
               label="Sesso"
               label-placement="floating"
    ></ion-input>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input class="signup-continue-labels"
               type="text"
               label="Data di nascita"
               label-placement="floating"
    ></ion-input>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input class="signup-continue-labels"
               type="text"
               label="Codice fiscale"
               label-placement="floating"
    ></ion-input>
  </ion-item>

  <ion-button id="signup-complete-button" size="default" (click)="routeToLogin()">Registrati</ion-button>

  <ion-button class="text-button"
              id="login-button"
              size="small"
              fill="clear"
              (click)="routeToLogin()">Hai già un account? Effettua il login</ion-button>

</ion-content>
