<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="signup-continue-toolbar">
    <ion-title id="signup-continue-title">Registrazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-continue-content" [fullscreen]="true">
  <ion-img id="plusone-logo" src="../../assets/icon/plusone-logo.png"></ion-img>

  <ion-item fill="transparent">
    <ion-input class="signup-continue-labels"
               type="text"
               label="Nome"
               label-placement="floating"
               [(ngModel)]="nome"
    ></ion-input>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input class="signup-continue-labels"
               type="text"
               label="Cognome"
               label-placement="floating"
               [(ngModel)]="cognome"
    ></ion-input>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">

    <ion-input class="signup-continue-labels"
               id="signup-sesso"
               label="Sesso"
               label-placement="floating"
               [readonly]="true"
               [(ngModel)]="sesso">
    </ion-input>
    <ion-select (ionChange)="handleChange($event)">
      <ion-select-option value="Maschio">Maschio</ion-select-option>
      <ion-select-option value="Femmina">Femmina</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input class="signup-continue-labels"
               label="Data di nascita"
               [readonly]="true"
               value="{{this.birthday}}"
    ></ion-input>
    <ion-button fill="clear" slot="end" aria-label="Show/hide" id="open-modal">
      <ion-img id="eye-icon" src="../../assets/icon/home/calendar.png"></ion-img>
    </ion-button>
    <ion-modal  trigger="open-modal"  >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()" >Cancella</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button  (click)="confirm()" [strong]="true">Conferma</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
        <ion-datetime presentation="date" (ionChange)="storeDate($event)"></ion-datetime>
        </ion-content>
        </ng-template>
      </ion-modal>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input class="signup-continue-labels"
               type="text"
               label="Codice fiscale"
               label-placement="floating"
               [(ngModel)]="CFValue"
               (input)="onInputChange($event)"
    ></ion-input>
  </ion-item>

  <ion-button id="confirm-button"
              size="default"
              (click)="routeToSignupEnd()"
              [disabled]="isEnable()">
    <ion-text id="confirm-button-text">Conferma</ion-text>
  </ion-button>

  <ion-button class="clear-button"
              id="login-button"
              size="small"
              fill="clear"
              (click)="routeToLogin()">
    <ion-text class="clear-button-text">Hai già un account? Effettua il login</ion-text>
  </ion-button>

</ion-content>
