ion-content {
    --background: #f0f1f5;
    padding-left: 2em;
    padding-right: 2em;
}

ion-avatar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    width: 175px;
    height: 175px;
    display: block;  
}

ion-card {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ffffff;
    text-align: center;
}

.assigned-drugs-button {
    background: #ffffff;
}

.confirm-button {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
