<ion-header class="ion-no-border" [translucent]="false">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Impegnative</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="prescriptions-content" [fullscreen]="true">
  <div *ngIf="(!personaService.isDefault() && tpeFarm.length <= 0)
        || (personaService.isDefault() && tpeFarmOffline.length <= 0)"
       class="nf-container">
    <ion-img class="nf-icon" src="../../assets/icon/shared/not-found.png"></ion-img>
    <ion-text class="nf-text">Nessuna impegnativa ricevuta</ion-text>
  </div>
  <ng-container *ngIf="!personaService.isDefault() && tpeFarm.length > 0">
    <ion-list>
      <div *ngFor="let tpaFarm of tpeFarm">
      <div *ngIf="tpaFarm.attivo">
        <ion-item class="item-title" >
          <div class="item-content">
            <ion-img class="prescription-icon" slot="start"
                     src="../../assets/icon/patient/logbook/prescriptions/prescription.png">
            </ion-img>
            <ion-text class="item-title-list">Impegnativa medica
              assegnata da {{tpaFarm.medico?.nome}} {{tpaFarm.medico?.cognome}}
            </ion-text>
            <ion-button slot="end" fill="clear" (click)="routeToPrescriptionDetails(tpaFarm)">
              <ion-text class="button-arrow">></ion-text>
            </ion-button>
          </div>
        </ion-item>
      </div>
      </div>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="personaService.isDefault() && tpeFarmOffline.length > 0">
    <ion-list>
      <ion-item class="item-title" *ngFor="let tpaFarmOffline of tpeFarmOffline">
        <div class="item-content">
          <ion-img class="prescription-icon" slot="start"
                   src="../../assets/icon/patient/logbook/prescriptions/prescription.png">
          </ion-img>
          <ion-text class="item-title-list">Impegnativa medica
            assegnata da {{paziente.medico.nome}} {{paziente.medico.cognome}}
          </ion-text>
          <ion-button slot="end" fill="clear" (click)="routeToPrescriptionDetails(tpaFarmOffline)">
            <ion-text class="button-arrow">></ion-text>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:blue" (click)="goToLogbook()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/logbook.png"></ion-img>
          Registro
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToReservation()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Prenota
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
