<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Modifica dettagli</ion-label>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="profile-container">
    <ion-img class="profile-avatar"
                  src="../../../../../../../assets/icon/home/avatar/av-patient-male.png"
                  alt="Foto profilo paziente">
    </ion-img>
    <div class="profile-info">
      <h2 class="profile-username">{{patient.nome}} {{patient.cognome}}</h2>
      <p class="profile-email">{{patient.CF}}</p>
    </div>
  </div>
  <ion-item>
    <ion-label><b>Nome:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input value="{{patient.nome}}" [(ngModel)]="this.nameToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Cognome:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{patient.cognome}}" [(ngModel)]="this.surnameToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Sesso:</b></ion-label>
    <ion-select class="left-aligned-select" value="{{patient.sesso}}" placeholder="{{patient.sesso}}"
                [(ngModel)]="this.genderToUpdate">
      <ion-select-option>Maschio</ion-select-option>
      <ion-select-option>Femmina</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label><b>Codice fiscale:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{patient.CF}}" [(ngModel)]="this.CFtoUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Email:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{patient.email}}" [(ngModel)]="this.emailToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Password:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input [type]="isPasswordVisible ? 'text' : 'password'"
               value="{{patient.password}}" [(ngModel)]="this.passwordToUpdate"></ion-input>
    <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
      <ion-img id="eye-icon" src="../../assets/icon/eye.png"></ion-img>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label><b>Città:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{citta}}" [(ngModel)]="this.cityToUpdate">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>CAP:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{patient.indirizzo.cap}}" [(ngModel)]="this.CAPtoUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Indirizzo:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{patient.indirizzo.via}}" [(ngModel)]="this.streetToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Numero civico:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-input type="" value="{{patient.indirizzo.numeroCivico}}" [(ngModel)]="this.civicNumberToUpdate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Esenzione:</b></ion-label>
    <ion-row style="width: 1.25em"></ion-row>
    <ion-select class="left-aligned-select" value="{{patient.esenzione}}"
                placeholder="{{patient.esenzione ? 'SI' : 'NO'}}" [(ngModel)]="this.exemptionToUpdate">
      <ion-select-option>SI</ion-select-option>
      <ion-select-option>NO</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label><b>Donatore organi:</b></ion-label>
    <ion-select class="left-aligned-select" value="{{patient.donatoreOrgani}}"
                placeholder="{{patient.donatoreOrgani ? 'SI' : 'NO'}}" [(ngModel)]="this.donorToUpdate">
      <ion-select-option>SI</ion-select-option>
      <ion-select-option>NO</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item button id="medico-curante-modal" class="no-ripple" (click)="onModalOpen()">
    <ion-label><b>Medico curante:</b></ion-label>
    <ion-label slot="end" style="color: grey" [ngClass]="{'assigned': this.assignedMedic}">{{this.assignedMedicDetails}}</ion-label>
    <ion-icon slot="end" class="icon fa-solid fa-arrow-right"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label><b>Attivo:</b></ion-label>
    <ion-select class="left-aligned-select" value="{{patient.attivo}}"
                placeholder="{{patient.attivo ? 'SI' : 'NO'}}" [(ngModel)]="this.activeState">
      <ion-select-option>SI</ion-select-option>
      <ion-select-option>NO</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button id="confirm" class="confirm-button" (click)="this.presentAlert()"
              shape="round">
    <ion-text class="confirm-button-text">Conferma modifiche</ion-text>
  </ion-button>
  <ion-button id="delete" class="delete-button"
              shape="round">
    <ion-text class="confirm-button-text">Elimina paziente</ion-text>
  </ion-button>

  <ion-alert
    trigger="delete"
    header="Conferma cancellazione"
    message="Sei sicuro di voler procedere? Questa azione è irreversibile."
    [buttons]="deleteButtons"
  ></ion-alert>

  <ion-modal #modal trigger="medico-curante-modal">
    <ng-template>
      <ion-toolbar>
        <ion-title style="color: black;">Seleziona medico</ion-title>
      </ion-toolbar>

      <ion-progress-bar [ngClass]="{ 'hidden': !isLoading }" type="indeterminate"></ion-progress-bar>

      <ion-content>
        <ion-list>
          <div *ngIf="filteredMedics.length <= 0" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
            <ion-img style="margin-top: 4.5em; width: 30%;" src="../../../../../../../assets/icon/user-not-found.png" alt="nessun medico disponibile"></ion-img>
            <ion-text style="margin: 1em 4em 0 4em; width: 85%; color: gray;">Nessun medico disponibile</ion-text>
          </div>

          <ion-item button *ngFor="let medic of filteredMedics" (click)="storeMedic(medic); ">
            <ion-avatar slot="start">
              <ion-img *ngIf="medic.sesso === Sesso.MASCHIO"
                src="../../assets/icon/home/avatar/av-nurse-male.png"
                alt="Foto profilo medico">
              </ion-img>
            </ion-avatar>

            <ion-card-title>{{medic.nome}} {{medic.cognome}}</ion-card-title>
            <ion-card-subtitle slot="end">{{medic.ospedale}}</ion-card-subtitle>
          </ion-item>

        </ion-list>
      </ion-content>

    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToRequests()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/requests.png"></ion-img>
          Richieste
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:blue" (click)="goToFunctions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/functions.png"></ion-img>
          Funzioni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToReports()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/bug-report.png"></ion-img>
          Segnalazioni
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
