<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Modifica dettagli</ion-label>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content scrollY="false">
  <div class="profile-container">
    <ion-img class="profile-avatar"
                  src="../../../../../../../assets/icon/home/avatar/av-patient-male.png"
                  alt="Foto profilo paziente">
    </ion-img>
    <div class="profile-info">
      <h2 class="profile-username">{{patient._nome}} {{patient._cognome}}</h2>
      <p class="profile-email">{{patient._CF}}</p>
    </div>
  </div>
  <ion-item>
    <ion-input label="Email" type="" value="{{patient._email}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Password" type="password" value="{{patient._password}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Conferma password" type="password" value="{{patient._password}}"></ion-input>
  </ion-item>
  <ion-button id="confirm" class="confirm-button" shape="round">Conferma modifiche</ion-button>
  <ion-button id="delete" class="delete-button" shape="round">Elimina paziente</ion-button>

  <ion-alert
    trigger="confirm"
    header="Conferma cambiamenti"
    message="Sei sicuro di voler confermare le modifiche?"
    [buttons]="confirmButtons"
  ></ion-alert>

  <ion-alert
    trigger="delete"
    header="Conferma cancellazione"
    message="Sei sicuro di voler procedere? Questa azione è irreversibile."
    [buttons]="deleteButtons"
  ></ion-alert>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToRequests()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/requests.png"></ion-img>
          Richieste
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToFunctions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/functions.png"></ion-img>
          Funzioni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToReports()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/bug-report.png"></ion-img>
          Segnalazioni
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
