.settings-content {
  .profile-panel {
    pointer-events: auto !important;

    .profile-image {
      width: 5em;
      height: auto;
    }

    .profile-summary {
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }

  .settings-image {
    width: 2em;
    height: auto;
  }

  .settings-text {
    margin-left: 1em;
  }
}
