<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="login-toolbar">
    <ion-title id="login-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" [fullscreen]="true">
  <ion-img id="plusone-logo" src="../../assets/icon/logo-plusone.png"></ion-img>
  <ion-item fill="solid">
    <ion-input
               type="email"
               fill="transparent"
               label="Email"
               label-placement="floating"
    ></ion-input>
  </ion-item>
  <ion-item fill="solid" class="ion-margin-top">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" color="dark" ngModel password></ion-input>
    <ion-button fill="clear" slot="end" aria-label="Show/hide">
      <ion-img id="eye-icon" src="../../assets/icon/eye.png" slot="end"></ion-img>
    </ion-button>
  </ion-item>
  <ion-button id="login-button" size="default">LOGIN</ion-button>
</ion-content>
