<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="login-toolbar">
    <ion-title id="login-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" [fullscreen]="true">
  <ion-img id="plusone-logo" src="../../assets/icon/logo-plusone.png"></ion-img>
  <ion-item fill="transparent">
    <ion-input class="login-labels"
               type="email"
               label="Email"
               label-placement="floating"
    ></ion-input>
  </ion-item>
  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input
               class="login-labels"
               type="password"
               label="Password"
               label-placement="floating"
               color="dark" ngModel password></ion-input >
    <ion-button fill="clear" slot="end" aria-label="Show/hide">
      <ion-img id="eye-icon" src="../../assets/icon/eye.png"></ion-img>
    </ion-button>
  </ion-item>
  <ion-checkbox id="checkbox" label-placement="end">Rimani connesso</ion-checkbox>
  <ion-button id="login-button" size="default">Login</ion-button>
  <ion-button class="text-button"
              id="lost-password-button"
              size="small"
              fill="clear">Password dimenticata?</ion-button>
  <ion-button class="text-button"
              size="small"
              fill="clear"
              (click)="routeToSignUp()">Non hai un account? Registrati</ion-button>
</ion-content>
