<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="login-toolbar">
    <ion-title id="login-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" [fullscreen]="true">
  <ion-img id="plusone-logo" src="../../assets/icon/plusone-logo.png"></ion-img>

  <ion-item fill="transparent">
    <ion-input class="login-labels"
      type="email"
      label="Email"
      label-placement="floating"
      [(ngModel)]="this.email"
    ></ion-input>
  </ion-item>

  <ion-item fill="transparent" class="ion-margin-top">
    <ion-input
               class="login-labels"
               [type]="isPasswordVisible ? 'text' : 'password'"
               label="Password"
               label-placement="floating"
               color="dark" [(ngModel)]="this.password" ></ion-input>
    <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
      <ion-img id="eye-icon" src="../../assets/icon/eye.png"></ion-img>
    </ion-button>
  </ion-item>

  <ion-checkbox hidden id="checkbox" label-placement="end">Rimani connesso</ion-checkbox>

  <ion-button id="login-button"
              size="default"
              shape="round"
              [disabled]="isEnable()"
              (click) = "loginButton()">
    <ion-text id="login-button-text">Login</ion-text>
  </ion-button>

  <!-- clear-button dato il tipo di fill !-->
  <ion-button hidden
    class="clear-button"
    id="lost-password-button"
    size="small"
    fill="clear">
    <ion-text class="clear-button-text">Password dimenticata?</ion-text>
  </ion-button>

  <ion-button class="clear-button"
    size="small"
    fill="clear"
    (click)="routeToSignUp()">
    <ion-text class="clear-button-text">Non hai un account? Registrati</ion-text>
  </ion-button>

  <ion-toast
    [isOpen]="isToastOpen"
    message="Credenziali non valide"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>

</ion-content>
