<ion-header class="ion-no-border" [translucent]="false">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-text class="tab-name-bl">Conferma</ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <ng-lottie [options]="options" [styles]="styles" (animationCreated)="animationCreated($event)" class="animation"></ng-lottie>
  <h3 class="info-h3">RICHIESTA ACCETTATA</h3>
  <h6 class="info-h6">Hai accettato con successo la richiesta triage di {{richiesta.paziente.nome}} {{richiesta.paziente.cognome}}.</h6>
</ion-content>

<div class="anim-confirm">
  <ion-button class="confirm-button"
              expand="block"
              fill="solid"
              routerLink="/home"
              (click)="goToSOSAnimated()"
              shape="round">
    <ion-text class="confirm-button-text">
      Torna alle richieste
    </ion-text>
  </ion-button>
</div>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToDrugs()" hidden>
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/drugs.png"></ion-img>
          Farmaci
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToShifts()" hidden>
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Turni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:blue" (click)="goToSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/sos.png"></ion-img>
          SOS
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
