<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="top-toolbar">
    <ion-icon id="settings-icon"
              src="../../assets/icon/settings/settings.svg"
              slot="end"
              (click)="routeToSettings()">
    </ion-icon>
    <div class="profile-container">
      <div class="images-container">
        <ion-img class="profile-image" src="../../assets/icon/home/stock-patient.png"></ion-img>
        <ion-img class="change-pic-image" src="../../assets/icon/home/camera.png"></ion-img>
      </div>
      <div class="text-container">
        <ion-text class="profile-name" slot="end">
          <h3>Ciao {{this.paziente.nome}}</h3>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="sos-content">
  <ion-row style="height: 10%"></ion-row> <!-- spazio vuoto-->
  <div class="warning-container">
    <ion-item class="warning-sos" lines="none">
      <ion-img class="warning-sign" src="../../assets/icon/patient/sos/warning-icon.png"></ion-img>
      <ion-text class="warning-text">Le false dichiarazioni non saranno tollerate.</ion-text>
    </ion-item>
  </div>
  <div class="card-container">
    <ion-card class="emergency-card" (click)="routeToEmergency()">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/patient/sos/emergency.png"></ion-img>
        <div class="card-line"></div>
        <ion-card-title class="card-title">Emergenza</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="select-card" (click)="routeToSurvey()">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/patient/sos/survey.png"></ion-img>
        <div class="card-line"></div>
        <ion-card-title class="card-title">Questionario</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToLogbook()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/logbook.png"></ion-img>
          Registro
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToReservation()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Prenota
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:#0054e9" (click)="goToSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/sos.png"></ion-img>
          SOS
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
