.sos-content {
  .warning-container {
    display: flex;
    justify-content: center;

    .warning-sos {
      .warning-sign {
        margin-left: 1em;
        width: 5em;
        height: auto;
      }

      .warning-text {
        flex: 1;
        margin-left: 1em;
        margin-right: 1em;
        font-size: large;
        font-weight: bold;
      }
    }
  }

  .card-container {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .select-card {
      margin-top: 1em;
      width: 20em;
      height: auto;
      display: block;
      margin-bottom: 1em;
      border-radius: 10px;

      .card-icon {
        width: 3.5em;
        height: auto;
        margin: auto;
        display: block;
      }
      .ios.card-icon {
        margin-top: 1em;
      }

      .card-line {
        flex-grow: 1;
        margin-top: 0.75em;
        border-bottom: 1px solid #ccc;
      }

      .card-title {
        color: #000;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .ios.card-title {
        font-size: 25px;
      }
    }

    .emergency-card {
      margin-top: 1em;
      width: 20em;
      height: auto;
      display: block;
      margin-bottom: 1em;
      border: 5px solid red;
      border-radius: 10px;

      .card-icon {
        width: 3.5em;
        height: auto;
        margin: auto;
        display: block;
      }
      .ios.card-icon {
        margin-top: 1em;
      }

      .card-line {
        margin-top: 0.75em;
        border-bottom: 1px solid red;
      }

      .card-title {
        color: red;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .ios.card-title {
        font-size: 25px;
      }
    }
  }
}
