<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Prenotazioni</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="reservations-content" [fullscreen]="true">
  <div *ngIf="prenotazioni.length <= 0" class="nf-container">
    <ion-img class="nf-icon" src="../../assets/icon/shared/not-found.png"></ion-img>
    <ion-text class="nf-text">Nessuna prenotazione effettuata</ion-text>
  </div>
  <ion-list *ngIf="prenotazioni.length > 0">
    <ion-item class="item-title" *ngFor="let prenotazione of prenotazioni">
      <div class="item-content">
        <ion-img class="reservation-icon" slot="start" src="../../assets/icon/home/calendar.png"></ion-img>
        <ion-text class="item-title-list">Prenotazione {{prenotazione.orario | date: 'yyyy-MM-dd'}}
          appuntamento con {{prenotazione.medicoCurante?.nome}} {{prenotazione.medicoCurante?.cognome}}
        </ion-text>
        <ion-button slot="end" fill="clear" (click)="routeToReservationDetails(prenotazione)">
          <ion-text class="button-arrow">></ion-text>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:blue" (click)="goToLogbook()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/logbook.png"></ion-img>
          Registro
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToReservation()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Prenota
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
