.survey-content {
  .survey-container {
    margin-left: 1em;

    .question-label {
      font-family: Inter, sans-serif;
      letter-spacing: 0;
      font-size: 20px;
      margin-bottom: 1em;
    }

    .question-select {
      margin-top: 1em;
      width: 85%;
      height: auto;
    }

    .divider {
      height: 2em;
    }

    .radio-group {
      .radio-grid {
        margin-left: -0.5em;
      }

      .radio-option {
        margin-top: 0.1em;
      }
    }

    .send-button {
      --color: #000;
      text-transform: none;
      margin-right: 1em;
      letter-spacing: 0;
      font-family: Inter, sans-serif;
      font-size: large;
      font-weight: bold;
    }
  }
}
