/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Additional CSS utils not related to Ionic */
@import "@fortawesome/fontawesome-free/css/all.css";


/** LIGHT MODE GLOBAL THEME **/
ion-tab-bar {
  ion-tab-button {
    --color: #000;
  }
}

// Blocca ion-header e ion-footer dallo scorrimento
ion-header,
ion-footer {
  display: block;
  position: static;
  width: 100%;
  z-index: 1000;
}

// Evita che ion-content trascini altri componenti nel suo scorrimento
ion-content {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flow-root;
  overflow-y: clip;
}

.top-toolbar {
  // --ion-toolbar-background: #20D77F;  COLORE VECCHIO TEMA
  --ion-toolbar-background: #65eab5; // COLORE NUOVO TEMA - VAR. 1
  // --ion-toolbar-background: #72d4a0; // COLORE NUOVO TEMA - VAR. 2
  height: 12.5em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;

  .back-button {
    --color: #000;
    margin-top: 1.5em;
    font-family: Inter, sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    font-size: xx-large;
    flex: 0 0 auto;
  }

  .tab-name {
    color: #000;
    text-transform: none;
    margin-top: 1.85em;
    font-family: Inter, sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    font-size: 25px;
  }

  .profile-container {
    margin-top: 2em;
    margin-left: 2.15em;
    margin-right: auto;
    display: block;

    .images-container {
      margin-top: 1em;
      margin-left: auto;

      .profile-image {
        width: 6.5em;
        height: auto;
        position: relative;
        margin: auto;
      }

      .change-pic-image {
        width: 1.5em;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: -1em;
        position: relative;
        display: block;
        z-index: 1;
      }
    }

    .text-container {
      margin-top: -1.65em;

      .profile-name {
        color: #000;
        text-align: center;
        text-transform: uppercase;
        margin-left: 1em;
        margin-bottom: 10em;
      }
    }
  }
}

.legacy-toolbar {
  --ion-toolbar-background: #65eab5;
  height: 6.5em;

  .container {
    display: flex;
    align-items: center;
  }

  .back-button {
    --color: #000;
    margin-top: 1.5em;
    font-family: Inter, sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    font-size: xx-large;
    flex: 0 0 auto;
  }

  .tab-name {
    color: #000;
    text-transform: none;
    margin-top: 1.85em;
    font-family: Inter, sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    font-size: 25px;
  }

  .tab-name-bl {
    // bl = button-less
    color: #000;
    text-transform: none;
    margin-left: 1.25em;
    margin-top: 2.35em;
    font-family: Inter, sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    font-size: 25px;
  }
}

#legacy-settings-icon {
  font-size: 2.25em;
  margin-right: 0.2em;
}

#settings-icon {
  margin-top: -4.5em;
  margin-right: 0.2em;
  font-size: 2em;
}

.home-content {
  width: 100%;
  height: auto;
  margin: auto;

  .home-container {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .item-title {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;

    .item-title-icon {
      width: 1.5em;
      height: auto;
      margin-right: 0.5em;
    }

    .item-title-list {
      font-weight: normal;
    }
  }

  .list-key {
    font-size: 17px;
    font-weight: bold;
  }

  .list-value {
    font-weight: normal;
  }

  #security-card {
    background-color: #845EC2;
  }

  .access-card {
    margin-top: -0.5em;
    width: 10em;
    height: auto;
    display: inline-block;

    .card-icon {
      width: 2em;
      height: auto;
      margin: auto;
      display: block;
    }

    .card-line {
      flex-grow: 1;
      margin-top: 0.75em;
      border-bottom: 1px solid #000;
    }

    .card-title {
      color: #000;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.bottom-bar {
  .bottom-tab-bar {
    // --ion-background-color: #8DECB4; //  COLORE VECCHIO TEMA
    --ion-background-color: #a6f3d4; //  COLORE NUOVO TEMA
  }

  .bottom-bar-buttons {
    font-family: Roboto, sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    font-size: 12px;
  }

  .bottom-bar-icons {
    width: 1.65em;
    height: auto;
  }
}

.bottom-bar:hover {
  --ion-color-primary: #0054e9;
}

.variables-container {
  margin-top: 1em;

  .edit-labels {
    margin-top: 1em;
    margin-left: 1.1em;
    font-family: Inter, sans-serif;
    letter-spacing: 0;
  }

  .label-textarea {
    width: 90%;
    margin-left: 1em;
    font-family: Inter, sans-serif;
    font-size: large;
  }

  .edit-button {
    pointer-events: auto !important;

    .edit-icon {
      width: 1.5em;
      height: auto;
    }
  }
}

// Configurazione schermate animazioni //
.ion-padding {
  .info-h6 {
    color: var(--Black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .info-h3 {
    color: var(--Black, #000);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
}

.anim-confirm {
  .confirm-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    width: 85%;

    .confirm-button-text {
      text-shadow: #000 1px 1px;
    }
  }
}
/////////////////////////////////////////////
