<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="top-toolbar">
  </ion-toolbar>
</ion-header>

<ion-tabs class="bottom-bar">
  <ion-tab-bar class="bottom-tab-bar" slot="bottom">
    <ion-tab-button class="bottom-bar-buttons" tab="drugs">
      <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/drugs.png"></ion-img>
      Farmaci
    </ion-tab-button>
    <ion-tab-button class="bottom-bar-buttons" tab="notifications">
      <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/notifications.png"></ion-img>
      Notifiche
    </ion-tab-button>
    <ion-tab-button class="bottom-bar-buttons" tab="shifts">
      <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/booking.png"></ion-img>
      Turni
    </ion-tab-button>
    <ion-tab-button class="bottom-bar-buttons" tab="sos">
      <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
      SOS
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
