<ion-header class="ion-no-border" [translucent]="false">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Dettagli medico</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-avatar slot="start">
        <ion-img *ngIf="medic.sesso === Sesso.MASCHIO"
                 src="../../../../../../assets/icon/home/avatar/av-doctor-male.png"
                 alt="Foto profilo paziente">
        </ion-img>
        <ion-img *ngIf="medic.sesso === Sesso.FEMMINA"
                 src="../../../../../../assets/icon/home/avatar/av-doctor-female.png"
                 alt="Foto profilo paziente">
        </ion-img>
      </ion-avatar>
      <ion-card-title>{{this.medic._nome}} {{this.medic._cognome}}</ion-card-title>
      <ion-card-subtitle>{{this.medic._CF}}</ion-card-subtitle>
      <ion-card-subtitle>{{this.medic._email}}</ion-card-subtitle>
      <ion-card-title style="margin-top: 0.75em;">Lavora presso</ion-card-title>
      <ion-card-subtitle>{{this.medic._ospedale}}</ion-card-subtitle>
      <ion-card-title style="margin-top: 0.75em;">Reparto</ion-card-title>
      <ion-card-subtitle>{{this.medic._reparto}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-button class="confirm-button" expand="block" shape="round" fill="solid" (click)="goToModifyDetails()">
    <ion-text class="confirm-button-text">MODIFICA DETTAGLI</ion-text>
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToRequests()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/requests.png"></ion-img>
          Richieste
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" style="color:blue" (click)="goToFunctions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/focus/functions.png"></ion-img>
          Funzioni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" (click)="goToReports()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/bug-report.png"></ion-img>
          Segnalazioni
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

