<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="legacy-toolbar">
    <div class="container">
      <ion-button class="back-button" fill="transparent" (click)="navigateBack()">
        &larr;
      </ion-button>
      <ion-label class="tab-name">Informazioni</ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<div id="overlay" [ngClass]="{'active': overlayVisible}" (click)="hideOverlay()">
  <ng-lottie [options]="options" (animationCreated)="handleAnimation($event)"></ng-lottie>
</div>

<ion-content class="info-content" [fullscreen]="true">
  <div class="info-container">
    <ion-card class="info-card" (click)="displayEasterEgg()">
      <ion-card-header>
        <ion-img class="card-icon" src="../../assets/icon/plusone-logo.png"></ion-img>
        <ion-row class="card-line"></ion-row>
        <ion-card-title class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Versione app:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <b>1.0.3</b>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer id="footer" [ngClass]="{'activeOverlay': overlayVisible}">
  <ion-toolbar>
    <ion-tabs class="bottom-bar">
      <ion-tab-bar class="bottom-tab-bar" slot="bottom">
        <ion-tab-button class="bottom-bar-buttons" (click)="goToHome()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/home.png"></ion-img>
          Home
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'PAZIENTE'" (click)="goToLogbook()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/logbook.png"></ion-img>
          Registro
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'PAZIENTE'" (click)="goToReservation()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Prenota
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons"  *ngIf="ruolo === 'PAZIENTE'" (click)="goToPatientSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
        <ion-tab-button hidden class="bottom-bar-buttons" *ngIf="ruolo === 'INFERMIERE'" (click)="goToDrugs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/drugs.png"></ion-img>
          Farmaci
        </ion-tab-button>
        <ion-tab-button hidden class="bottom-bar-buttons" *ngIf="ruolo === 'INFERMIERE'" (click)="goToShifts()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/calendar.png"></ion-img>
          Turni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'INFERMIERE'" (click)="goToNurseSOS()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/sos.png"></ion-img>
          SOS
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'MEDICO'" (click)="goToNotifs()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/notifications.png"></ion-img>
          Notifiche
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'MEDICO'" (click)="goToPatients()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/patients.png"></ion-img>
          Pazienti
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'ADMIN'" (click)="goToRequests()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/requests.png"></ion-img>
          Richieste
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'ADMIN'" (click)="goToFunctions()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/functions.png"></ion-img>
          Funzioni
        </ion-tab-button>
        <ion-tab-button class="bottom-bar-buttons" *ngIf="ruolo === 'ADMIN'" (click)="goToReports()">
          <ion-img class="bottom-bar-icons" src="../../assets/icon/bottom-bar/bug-report.png"></ion-img>
          Segnalazioni
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
